<!DOCTYPE html>
<html>
    <head>
        <title>SeeMee</title>
        <style>
            h1 {
                font-size: 40px;
                font-family: Roboto;
                font-weight: normal;
                color:darkslateblue;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>SeeMee</h1>
        <img src="static/friends.jpg" height="320">
        <p>Create a Planner now to shcedule events with your friend!</p>
        <button>Create Planner</button>
<form action="contactus.php" method="post">
    <hr>

    <p>Group Name:</p>
    <p><input type="text" name="group_name" value="Your name"></p>

    <p>Email:</p>
    <p><input name="email" value="...@gmail.com"></p>
    <!-- remember: 'type="text"' isn't actually necessary -->

    <p>Password: </p>
    <p><input name="password" value="Your password"></p>


    <p><input type="submit" value="Submit"></p>

</form>

    </body>
</html>